{% extends 'base.html.twig' %}

{% block title %}Dashboard | Class Oblige{% endblock %}

{% block body %}
<style>
    .container-fluid {
        position: relative;
        padding: 0;
    }

    .banner-container {
        width: 100%;
        text-align: center;
    }

    .banner-men-polos {
        background: url("../img/banners/banner-user-dashboard.jpg") no-repeat center center;
        background-size: auto;
        padding: 0 0 400px 0;
        filter: brightness(50%);
    }

    .text-banner {
        text-shadow: #000000 0em 0em 0.2em;
        position: absolute;
        bottom: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #F5F5F5;
    }
</style>

<div class="container-fluid">
    <div class="banner-container">
        <div class="banner-men-polos"></div>
    </div>
</div>

<div class="container-fluid bg-light mb-2">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>

<div class="container mt-5">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="window.print();">Generate Report</a>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4 mx-auto">
            <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings (Total)</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalEarnings }} MAD</div>
                </div>
                <div class="col-auto">
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 mx-auto">
            <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Profit Difference</div>
                    <div class="row no-gutters align-items-center">                    
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ totalEarnings - totalAmount }} MAD</div>
                    </div>
                </div>
                <div class="col-auto">
                </div>
                </div>
            </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-6 mb-4 mx-auto">
            <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Items in stock</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ itemsInStock }}</div>
                </div>
                <div class="col-auto">
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 p-0">
            <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Bank Cheques</h6>
                <a class="btn btn-secondary btn-sm" href="{{ path('app_admin_addcheque') }}" role="button">Add</a>
            </div>
            <div class="card-body">
                <p>List of cheques handed out by the company, click view to see a scanned version of the cheque</p>
            </div>
            <ul class="list-group">
                {% for cheque in chequesList %}
                    <div class="row no-gutters list-group-item-action bg-light">
                        <div class="col-lg-2 mx-auto" style="background: #f7f7f9;">
                            <label class="form-control" for="input-salary">Cheque {{ cheque.id }}</label>
                        </div>
                        <div class="col-lg-8 mx-auto pt-2 pb-2">
                            <ul>
                                <li>Amount : {{ cheque.amount }}</li>
                                <li>Beneficiary : {{ cheque.beneficiary }}</li>
                                <li>Purpose : {{ cheque.purpose }}</li>
                            </ul>
                        </div>
                        <div class="col-lg-1 my-auto text-center pb-1">
                            <a class="btn btn-info btn-sm" href="{{ asset('uploads/cheques/' ~ cheque.scan) }}" role="button">View</a>
                        </div>
                        <div class="col-lg-1 mx-auto my-auto text-center pb-1">
                            <a class="btn btn-danger btn-sm" 
                                href="{{ path('app_admin_deletecheque', {'id': cheque.id}) }}" 
                                role="button"
                                onclick="javascript:return confirm('Are you sure you want to delete cheque {{ cheque.id }}?')">
                                Delete
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Expenses Overview</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Employees Salary<span class="float-right">{{ salaryAmount }} MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{ (salaryAmount / totalAmount) * 100 }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Employees CNSS<span class="float-right">{{ cnssAmount }} MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ (cnssAmount / totalAmount) * 100 }}%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Insurance (Theft, Building, ...)<span class="float-right">{{ insuranceAmount }} MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: {{ (insuranceAmount / totalAmount) * 100 }}%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Utility (Electric, Water, ...)<span class="float-right">{{ utilityAmount }} MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar bg-info" role="progressbar" style="width: {{ (utilityAmount / totalAmount) * 100 }}%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Maintenance (Equipment, Devices, ...)<span class="float-right">{{ maintenanceAmount }} MAD</span></h4>
                <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ (maintenanceAmount / totalAmount) * 100 }}%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            </div>

            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Add Expenses</h6>
            </div>
            <div class="card-body">
                {{ form_start(expensesForm) }}
                <div class="row no-gutters">
                    <div class="col-lg-5 mx-auto pr-2">
                        <label class="form-control" for="input-salary">Insurance</label>
                    </div>
                    <div class="col-lg-7 mx-auto">
                        {{ form_widget(expensesForm.insurance) }}
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row no-gutters">
                    <div class="col-lg-5 mx-auto pr-2">
                        <label class="form-control" for="input-utility">Utility</label>
                    </div>
                    <div class="col-lg-7 mx-auto">
                        {{ form_widget(expensesForm.utility) }}
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row no-gutters">
                    <div class="col-lg-5 mx-auto pr-2">
                        <label class="form-control" for="input-maintenance">Maintenance</label>
                    </div>
                    <div class="col-lg-7 mx-auto">
                        {{ form_widget(expensesForm.maintenance) }}
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="form-group text-center">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
                {{ form_end(expensesForm) }}
            </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">
            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
            </div>
            <div class="card-body">
                <h4 class="small font-weight-bold">Men Clothing<span class="float-right">20000 MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">Ladies Clothing<span class="float-right">40000 MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <h4 class="small font-weight-bold">External Investement<span class="float-right">60000 MAD</span></h4>
                <div class="progress mb-4">
                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            </div>

            <!-- Illustrations -->
            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Employees List</h6>
            </div>
            <div class="card-body">
                <p>List of employees currently active in the company, click edit to edit employee information</p>
            </div>
            <ul class="list-group">
            {% for employee in employeesList %}
                <div class="row no-gutters list-group-item-action bg-light">                
                    <div class="col-6 mx-auto" style="background: #f7f7f9;">
                        <label class="form-control" for="input-salary">{{ employee.name }}</label>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-2 text-center my-auto">
                        <a class="btn btn-info btn-sm" href="{{ path('app_admin_editemployee', {'id': employee.id}) }}" role="button">Edit</a>
                    </div>                
                </div>
            {% endfor %}
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
