<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.css">
        <style>
            .btn-cart {
                width: 75px;
                height: 35px;
                border-radius: 0%;
                font-size: 1.2em;
                color: #fff;
                text-align: center;
                background: red;
                padding: 0;
            }

            .nav-pills .show > .nav-link {
                background-color: #252525;
            }

            .container-fluid {
                padding: 0;
                margin: 0;
            }

            .nav-panel {
                list-style-type: none;
                overflow: hidden;
            }

            .nav-item {
                float: right;
            }
        {% block stylesheets %}{% endblock %}
        </style>
    </head>
    <body>
        <div class="container-fluid" style="background: #d1d1d1;">
            <div class="container">
                <ul class="nav-panel pt-2 mb-0">                        
                    {% if is_granted('ROLE_USER_EMPLOYEE') %}
                        <li class="nav-item"><a href="{{ path('app_logout') }}"><h5>Log Out</h5></a></li>
                        <li class="nav-item"><a href="#"><h5>Manage Store</h5></a></li>
                    {% elseif is_granted('ROLE_USER_ADMIN') %}
                        <li class="nav-item"><a href="{{ path('app_logout') }}"><h5>Log Out</h5></a></li>
                        <li class="nav-item"><a href="{{ path('app_admin_dashboard') }}"><h5>Dashboard</h5></a></li>
                        <li class="nav-item"><a href="#"><h5>Manage Store</h5></a></li>
                    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"><a href="{{ path('app_logout') }}"><h5>Log Out</h5></a></li>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('app_signup') }}"><h5>Sign Up</h5></a></li>
                        <li class="nav-item"><a href="{{ path('app_login') }}"><h5>Log In</h5></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand ml-2" href="#">Class Oblige</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav mr-auto nav-pills">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('app_home') }}">Home<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Men</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_item_men_polos') }}">Polos</a>
                            <a class="dropdown-item" href="{{ path('app_item_men_shirts') }}">Shirts</a>
                            <a class="dropdown-item" href="{{ path('app_item_men_pants') }}">Pants</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ladies</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('app_item_men_polos') }}">Polos</a>
                            <a class="dropdown-item" href="{{ path('app_item_men_shirts') }}">Shirts</a>
                            <a class="dropdown-item" href="{{ path('app_item_men_pants') }}">Pants</a>
                        </div>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0">
                    <a href="{{ path('app_cart_view') }}" class="btn btn-cart pt-1" role="button">Cart</a>
                </form>
            </div>
        </nav>

        {% block body %}{% endblock %}
    </body>

    <footer>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="container-fluid">
                <div class="text-center bg-dark pt-5 pb-5 mt-3">
                    <p class="lead text-white">Join our mailing list to receive email exclusives.</p>
                    <form>
                            <div class="col-lg-3 mx-auto">
                                <div class="input-group">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-success input-group-text">Go!</button>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </footer>
    {% block javascripts %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>
