{% extends 'base.html.twig' %}

{% block title %}Cart | Class Oblige{% endblock %}

{% block body %}

<style>
    .container-fluid {
        position: relative;
        padding: 0;
    }

    .banner-container {
        width: 100%;
        text-align: center;
    }

    .banner-men-polos {
        background: url("../img/banners/banner-item-cart.jpg") no-repeat center center;
        background-size: auto;
        padding: 0 0 400px 0;
        filter: brightness(50%);
    }

    .text-banner {
        text-shadow: #000000 0em 0em 0.2em;
        position: absolute;
        bottom: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #F5F5F5;
    }

    img {
        max-width: 100%;
    }

    .text-nowrap {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        
    .standard-price {
        text-decoration: line-through;
    }
</style>

<div class="container-fluid">
    <div class="banner-container">
        <div class="banner-men-polos"></div>
        <div class="text-banner">
            <h1 class="text-white">Cart</h1>
        </div>
    </div>
</div>

<div class="container-fluid bg-light mb-2">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item active">Cart</li>
        </ol>
    </div>
</div>

<div class="container pt-5">
    <table class="table table-hover">
    <thead>
    <tr class="table-primary">
        <th scope="col">Item ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Unit Price</th>
    </tr>
    </thead>
    <tbody>
    {% for item in itemsInCart %}
        <tr>
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.itemname }}</td>
            <td>{{ cart[item.id] }}</td>
            <td>
                {{ item.itemPrice }} MAD
                <a class="btn btn-danger btn-sm float-right" href="{{ path('app_cart_removeitem', {'id': item.id}) }}" role="button">Remove</a>
            </td>
        </tr>
    {% endfor %}
    <tr class="table-active">
        <td colspan="2"></td>
        <td>Total</td>
        <td>
            {{ total }} MAD
            {{ form(form) }}
        </td>
    </tr>
</div>

{% endblock %}
