{% extends 'base.html.twig' %}

{% block title %}Men's Lineup: Polos | Class Oblige{% endblock %}

{% block body %}

<style>
    .container-fluid {
        position: relative;
        padding: 0;
    }

    .banner-container {
        width: 100%;
        text-align: center;
    }

    .banner-men-polos {
        background: url("../../img/banners/banner-men-polos.jpg") no-repeat center center;
        background-size: auto;
        padding: 0 0 400px 0;
        filter: brightness(50%);
    }

    .text-banner {
        text-shadow: #000000 0em 0em 0.2em;
        position: absolute;
        bottom: 50%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #F5F5F5;
    }

    img {
        max-width: 100%;
    }

    .text-nowrap {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
        
    .standard-price {
        text-decoration: line-through;
    }
</style>

<div class="container-fluid">
    <div class="banner-container">
        <div class="banner-men-polos"></div>
        <div class="text-banner">
            <h1 class="text-white">Polos</h1>
            <h5 class="text-white">A timeless classic and the most versatile shirt in your closet.</h5>
        </div>
    </div>
</div>

<div class="container-fluid bg-light mb-2">
    <div class="container">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Men</a></li>
            <li class="breadcrumb-item active">Polos</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row no-gutters">
        <div class="col-md-3 p-1">
            <img class="p-1" style="height: 720px; width: 100%; display: block;" src="http://placehold.it/720x380">
        </div>
        <div class="col-md-9 p-1">
            
            <div class="row no-gutters">
                {% for item in poloItemList %}
                {% if loop.index % 3 == 1 %}
                    <div class="col-md-4 p-1">
                        <div class="card">
                            <h3 class="card-header text-nowrap">{{ item.itemName }}</h3>
                            <img class="h-25" style="width: 100%;" src="{{ item.itemImage }}">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">                                         
                                        {% if item.itemOnSale %}
                                            {{ item.itemPrice * (1 - item.itemSale / 100) }} MAD - 
                                            <span class="standard-price">
                                                {{ item.itemPrice }} MAD
                                            </span>
                                        {% else %}
                                            {{ item.itemPrice }} MAD   
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item text-nowrap">Size : {{ item.itemSize|replace({',': " - "})  }}</li>
                                </ul>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-lg-6 mx-auto">
                                                <input class="form-control" type="number" max="{{ item.itemStock }}" placeholder="Qty">
                                            </div>
                                            <div class="col-lg-auto mx-auto">
                                                <a class="btn btn-secondary w-100" href="{{ path('app_cart_additem', {'id': item.id, 'qty': 1}) }}" role="button">Add</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-muted">{{ item.itemDateAdded|ago }}</div>
                            </div>
                        </div>
                    </div>
                {% elseif loop.index % 3 == 2 %}
                    <div class="col-md-4 p-1">
                        <div class="card">
                            <h3 class="card-header text-nowrap">{{ item.itemName }}</h3>
                            <img class="h-25" style="width: 100%;" src="{{ item.itemImage }}">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">                                         
                                        {% if item.itemOnSale %}
                                            {{ item.itemPrice * (1 - item.itemSale / 100) }} MAD - 
                                            <span class="standard-price">
                                                {{ item.itemPrice }} MAD
                                            </span>
                                        {% else %}
                                            {{ item.itemPrice }} MAD   
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item text-nowrap">Size : {{ item.itemSize }}</li>
                                </ul>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-lg-6 mx-auto">
                                                <input class="form-control" type="number" max="{{ item.itemStock }}" placeholder="Qty">
                                            </div>
                                            <div class="col-lg-auto mx-auto">
                                                <a class="btn btn-secondary w-100" href="{{ path('app_cart_additem', {'id': item.id, 'qty': 1}) }}" role="button">Add</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-muted">{{ item.itemDateAdded|ago }}</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-4 p-1">
                        <div class="card">
                            <h3 class="card-header text-nowrap">{{ item.itemName }}</h3>
                            <img class="h-25" style="width: 100%;" src="{{ item.itemImage }}">
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">                                         
                                        {% if item.itemOnSale %}
                                            {{ item.itemPrice * (1 - item.itemSale / 100) }} MAD - 
                                            <span class="standard-price">
                                                {{ item.itemPrice }} MAD
                                            </span>
                                        {% else %}
                                            {{ item.itemPrice }} MAD   
                                        {% endif %}
                                    </li>
                                    <li class="list-group-item text-nowrap">Size(s) : {{ item.itemSize }}</li>
                                </ul>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="col-lg-6 mx-auto">
                                                <input class="form-control" type="number" max="{{ item.itemStock }}" placeholder="Qty">
                                            </div>
                                            <div class="col-lg-auto mx-auto">
                                                <a class="btn btn-secondary w-100" href="{{ path('app_cart_additem', {'id': item.id, 'qty': 1}) }}" role="button">Add</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-muted">{{ item.itemDateAdded|ago }}</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% else %}
                    <div class="col-md-12 p-1">
                        <div class="card">
                            <h3 class="card-header text-center">Sorry, no items in stock currently</h3>
                        </div>
                    </div>
                {% endfor %}                
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
